.navBar {
  background-color: orange;
}
.buttons {
  font-size: 16px;
  font-weight: 500;
  background-color: black;
  color: rgb(255, 200, 100);
}
.navBarbuttons {
  padding: 0rem 0rem 0rem 2rem;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
