.parent {
    padding: 8rem 5rem 3rem 5rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
}
.left {
    position: relative;
    padding: 2rem;
    width: 150px;
    height: 275px;
    flex: 1;
    border-radius: 25px;
    color: orange;
    max-width: 450px;
    box-shadow: 20px 20px 100px orange;
}
.right {
    flex: 1;
    color: orange;
}
.heading {
    font-size: 2.5rem;
    font-weight: 700;
}
.content {
    padding: 2rem;
    text-align: left;
}

.tagsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1.5rem;
    padding: 1rem 2rem 3rem 2rem;
}

.tag {
    padding: 0.5rem;
    border: 1px solid orange;
    border-radius: 10px;
    color: rgb(255, 200, 100);
}
.downloadButton {
    color: black;
    background: orange;
    box-shadow: 4px 4px 16px orange;
}
.downloadButtonParent {
    padding: 0rem 2rem 0rem 2rem;
}
